
<ion-content class="ion-padding">

  <topo-login title="Cadastrar Usuário"></topo-login>
  

    <form [formGroup]="loginForm" (submit)="createUser()">
         <ion-item>
              <ion-icon name="person" color="if" slot="start"></ion-icon>
              <ion-input formControlName="nome" type="email" placeHolder="Nome" autFocus="true"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-icon name="person" color="if" slot="start"></ion-icon>
            <ion-input formControlName="snome" type="password" placeHolder="Sobrenome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="mail" color="if" slot="start"></ion-icon>
          <ion-input formControlName="email" type="email" placeHolder="E-mail" autFocus="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
        <ion-input formControlName="password" type="password" placeHolder="Senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
      <ion-input formControlName="confirm_pass" type="confirm_pass" placeHolder="Confirmar"></ion-input>
  </ion-item>
    
        <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if" fill="clear">Enviar</ion-button>
      </form><br><br>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
        <ion-button [routerLink]="['/login']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
   []
  </ion-row>

</ion-footer>
