<ion-header>
  <ion-toolbar>
    <ion-title class="title">Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <Form [formGroup]="form">
    <ion-list>

      <ion-item>
        <ion-label position="stacked"><h1>Input</h1></ion-label>
        <ion-input formControlName="input1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"><h1>Input</h1></ion-label>
        <ion-input formControlName="input2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"><h1>Resultado</h1></ion-label>
        <ion-input id="resultado" readonly>{{resultado}}</ion-input>
      </ion-item>
    </ion-list><br>

    <ion-button id="igual" [disabled]="form.invalid" color="success" expand="block" (click)="dividir()">=</ion-button>
    <ion-button id="divide" [disabled]="form.invalid" expand="block" (click)="dividir()">Dividir</ion-button>
    <ion-button id="multiplica" [disabled]="form.invalid" color="secondary" expand="block" (click)="multiplicar()">Multiplicar</ion-button>
    <ion-button id="subtrai" [disabled]="form.invalid" color="warning" expand="block" (click)="somar()">Somar</ion-button>
    <ion-button id="soma" [disabled]="form.invalid" color="dark" expand="block" (click)="dividir()">Subtrair</ion-button>

  </Form>


</ion-content>
